.bg{
    background-image: url('/static/assets/abstract_pattern.jpg');
    background-size: cover;
}

#logo{
    width: 20%;
    height: 20%;
    position: relative;
    top: 55px;
   
}

.intro{
    font-weight: normal;
    align-self: center;
    margin:auto;
    align-content: center;
    text-align: center;
    color: #019346;
    background-color: white;
    width: 60%;
    height:15%;
    border-radius: 16px;
    padding: 10px 20px;
    top: 25px;
    position: relative;
}

.start_button{
    color: #019346;
    font-size: xx-large;
    margin: auto;
    align-self: center;
    align-content: center;
    width: 40%;
    background-color: white;
    position: relative;
    left: 30%;
    top: 95px;
    border-radius: 16px;
    padding: 10px 20px;
    border-color: white;
    font-weight: normal;
    box-shadow: none;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

.start_button:hover{
    color: white;
    background-color: #019346;
    border-color: #019346;
    box-shadow: none;
}
